.thumbnail {
	padding: 0;
	margin-bottom: 10px;

}

.thumbnail img {
	width: 100%;
}

.thumbnail .caption-full {
	padding: 10px;
}

.delete-form {
	display: inline;
}

#map {
	height: 400px;
	width: 100%;
}

.form-title {
	text-align: center;
	font-size: 3.5rem;
	color: #777;
	border: none;
}

.auth-form {
	width: 30%;
	margin: 25px auto;
}